<%- include('../partials/header', { title: 'Edit Product' }) %>

    <div class="card shadow-sm border-0 bg-white p-4">
        <h1 class="display-5 fw-semibold mb-4 mt-0">Edit Product</h1>
        <!-- Edit product form -->
        <form action="/products/<%= product._id %>?_method=PUT" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Product Name:</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Name"
                    value="<%= product.name %>">
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Product Description:</label>
                <input type="text" class="form-control" name="description" id="description" placeholder="Enter product description"
                    value="<%= product ? product.description : '' %>">
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Product Price:</label>
                <input type="number" class="form-control" name="price" id="price" placeholder="Price"
                    value="<%= product.price %>">
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Product Image:</label>
                <input type="text" class="form-control" name="img" id="image" placeholder="Product Image URL"
                    value="<%= product.img %>">
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Select Category:</label>
                <!-- Category dropdown with current category selected -->
                <select class="form-select" name="category" id="category">
                    <% for(let category of categories) { %>
                        <option value="<%= category %>" <%=product.category===category ? 'selected' : '' %>><%= category
                                %>
                        </option>
                        <% } %>
                </select>
            </div>

            <button class="btn btn-success">Update Product</button>
            <a href="/products/<%= product._id %>" class="btn btn-dark ms-2">Cancel</a>
        </form>
    </div>

<%- include('../partials/footer') %>